.header {
  background-color: #FFE2B2;
  display: flex;
  justify-content: space-between;
}

.title-name {
  margin: 5px;
  padding-left: 5px;
  font-size: 25px;
  color: black;
}

.title-deco {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 50px;
}

.menu-lists {
  padding: 10px 30px;
  margin: 20px 10px;
  background-color: white;
  border: 2px solid lightgray;
}

.lists-right {
  position: absolute;
  right: 10px;
  top: 70px;
  padding-top: 10px;
  display: inline-block;
  list-style: none;
}

.list {
  width: 100%;
  padding: 15px 50px 15px 15px;
  border: 1px solid lightgray;
  color: black;
  background-color: white;
  text-decoration: none;
}

li {
  padding: 11px;
}

.hidden {
  display: none;
}

.messages {
  display: flex;
}

.mypage {
  padding-right: 117px;
}

.logout {
  padding-right: 114px;
}

.signin {
  padding-right: 52px;
}