


<div class="timer">
  <form name="timer">
    <input type="text", value="", id="min-form">分
    <input type="text", value="", id="sec-form">秒<br />
    <input type="button", value="スタート", onclick="cntStart()" id="start-btn" >
    <input type="button", value="ストップ", onclick="cntStop()", id="fin-btn">
  </form>
</div>
