<%= render "shared/header" %>

  


<%= form_with model: @record, url: time_save_objective_records_path, method: :get, local: true do |f| %>
<%= f.text_field :data, id:"times"%>分



        <h1 id="timer"></h1>
        <button type="button" id="startbutton">start</button>
        <button type="button" id="stopbutton">stop</button>
        <button type="button" id="resetbutton">reset</button>

<% f.submit "保存する", id: "submit", data: { confirm: '終了しました！お疲れ様でした!' }  %>
<% end %>

<%= link_to "詳細ページへ戻る", objective_path(@objective.id) %>