.objective {
  display: flex;
  justify-content: space-around;
}

.objective-big {
  text-align: center;
  border: 1px solid lightgray;
  padding: 25px 0px;
}

.big-area {
  font-size: 20px;
  padding: 0px 20px 20px 20px;
}

.objective-title {
  font-size: 25px;
}

.step {
  font-size: 20px;
  list-style: none;
}


.if-title {
  display: flex;
  justify-content: center;
}

.objectives-if {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.record-lists {
  overflow: auto;
  white-space: nowrap;
}

.record-list {
  display: inline-block;
}

.record-create {
  display: flex;
  justify-content: center;
}

.user-records {
  text-align: center;
}

.record-lists {
  border: 1px solid lightgray;
}

.records-ind {
  text-align: center;
  border-top: 1px solid lightgray;
}
