.not-record {
  text-align: center;
}

.record-contents {
  margin: 3px 10px;
  border: 1px solid lightgray;
  border-radius: 20px;
  display: flex;
}


.record-name {
  padding: 5px 20px; 
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.record-link {
  display: flex;
  justify-content: space-around;
}

.btn {
  text-decoration: none;
}

.record-inpression {
  margin: 5px 15px;
}
