.user-profile {
  display: flex;
  justify-content: center;
}

.user-name {
  padding: 10px 20px;

}

.user-top {
  display: flex;
  justify-content: center;
}

.objectives-btn {
  font-size: 18px;
  text-decoration: none;
  padding: 0px 20px 10px;
  margin: auto;
}

.habits {
  display: flex;
  justify-content: center;
}

.habit-index {
  border: 1px solid lightgray;
}

.user-objective {
  border: 1px solid lightgray;
  background-color: #fae7bc;
  border-radius: 20px;
  margin: 40px 200px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.objects {
  display: inline-block;
  text-align: center;
}

.object {
  margin: 5px auto
}

.objective-link {
  text-decoration: none;
  color: black;
}

.created {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 14px;
  opacity: 0.4;
}